//@import "nib"
@import "normalize.styl"
@import "fonts.styl"

vendor-prefixes = webkit o ms moz official

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #F0F0F0

a
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
ul
	margin 0
	padding 0
//buttons
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%
//oocss classes
.container
	padding 1.4rem
	font-size 0
	text-align center
.action
	color white
	font-size 1.2em
	margin-right .5em
	&:last-child
		margin-right 0
	&.gray
		color gris_claro
	&.red
		color red
.actions
	position absolute
	bottom 0
	left 0
	right 0
	background rgba(black,.3)
.border-bottom
	border-bottom 1px solid gris_claro
.name
	color gris_oscuro
.menu
	display none
.relative
	position relative
.author
	color gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
.right-text
	text-align right
.relative
	position relative
.padding
	padding 1em
.padding-tb
	padding 1em 0
.left
	float left
.right
	float right
.wrap
	width 1000px
.round
	border-radius 50%
	overflow hidden
.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px
		height 5px
		margin 0 auto
		width 75%
	.state
		animation 10s state infinite linear
		background rojo
		border-radius 5px
		height 5px
		position relative
		width 30%

	.circle
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px
		animation 1s circle infinite

@keyframes state
	0%
		width 0
	100%
		width 100%
@keyframes circle
	0%
		transform scale(1)
	100%
		transform scale(2)
		opacity 0
.header
	height 3.5em
	// a
	// 	display none
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

.playing
	&.small
		width 20em
		margin 0 auto

.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	color gris_claro
	right .5em
	font-size 1.2em
.playlist
	border-left 1px solid gris_claro
	padding 0 2em
	width 22em
	display none
	.list
		list-style none
	.item
		padding 1em 0
	.action
		font-size .8em
.isotipo
	width 122px
.logo
	background white
	padding 1.3em 0
	display none
	clearfix()
.avatar
	width 38px
	height 38px
.username
	color gris_claro
	position relative
	top 9px
	margin-left .5em
	&:after
		border-left 7px solid transparent
		border-right 7px solid transparent
		border-top 9px solid gris_claro
		content ""
			display inline-block
			margin-left .4em

@media screen and (min-width:480px)

	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto

@media screen and (min-width:1000px)
	body
		background gris_mas_claro
	.button-menu
		display none
	.playing
		padding-top 1.3em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		border-top 1px solid gris_claro
		.item
			float left
			list-style none
			a
				color gris_oscuro
				cursor pointer
				display block
				padding 1em
				text-transform uppercase
				border-top 5px solid transparent
				transition .3s border-top
				&:hover
					border-top 5px solid gris_claro
	.music
		width 32.5em
		float left
		.description
			display none

	.header
		height auto
		border none
		.title
			display none
	.logo
	.playlist
		display block